#list-format {
    width:100px; 
}

#ul { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style-type: none;
    font-weight: 200;
    border:2px solid black;
}

#logout-button {
    border-radius: 20px;
    background-color:lightcoral;
}

i {
    font-size: large;

}

#manage-spot {
    text-decoration: none;
    color: black;
}