
#login-container {
    width:500px;
    height: 350px;
   
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.login {
    text-align: center;
}

.input {
    border: 3px solid black;
    width:400px;
    height: 30px;
}

#login-button {
    width: 410px;
    height: 50px;
    border: 3px solid black;
    background-color: red;
    color: white;
    box-shadow: 5px 5px 5px black; 
    cursor: pointer; 
  }
  
#login-button:disabled {
    box-shadow: 5px 5px 5px grey; 
    background-color: grey;
    color: black;
    cursor: not-allowed; 
}

#demo-user {
    border:none;
    background: none; 
    text-decoration: underline;
    margin-top: 30px;
    color:blue;
    font-size: larger;
}

#error-message {
    color:red;
    text-align: center;
}